
body {
    background-image: url("/static/images/solar_system.png");
    background-size: cover;
}
.input-form {
    font-size: 1rem;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
    font-size: 1rem;
}
form {
    display: flex;
    font-size: 1rem;
    padding: 0;
}

form input {
    margin-top: .5rem;
    padding-left: .25rem;
    font-size: .75rem;

}

#mercury {
    margin-top: 47%;
    margin-left: 9%;
}

#venus {
    margin-top: 45%;
    margin-left: -1%;
}

#earth {
    margin-top: 41%;
    margin-left: 3%;
}

#mars {
    margin-top: 35%;
    margin-left: 4%;
}

#jupiter {
    margin-top: 33%;
    margin-left: 6%;
}

#saturn {
    margin-top: 21%;
    margin-left: 14%;
}

#uranus {
    margin-top: 12%;
    margin-left: 9%;
}

#neptune {
    margin-top: 7%;
    margin-left: 2%;
}

button {
    margin-top: 40%;
    margin-left: -20%;
    padding: 10px;
    height: 150px;
    width: 350px;
    background-color: #46b64ca9;
    border-radius: 10px;
    letter-spacing: 1px;
    font-size: 75px;
    cursor: pointer;
}