<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational - Planets Game</title>
    <meta name="description" content="This webpage brings shows a game to help students learn the planets in the solar system.">
    <link rel="stylesheet" href="/static/style.css">
</head>
<header>
    <h1>Educational Planets Game</h1>
</header>
<body>
    <div class="input-form">
        <form action="" method="post">
            Planet #1: <input type="text" name="city_name"><br>
            Planet #2: <input type="text" name="city_name"><br>
            Planet #3: <input type="text" name="city_name"><br>
            Planet #4: <input type="text" name="city_name"><br>
            Planet #5: <input type="text" name="city_name"><br>
            Planet #6: <input type="text" name="city_name"><br>
            Planet #7: <input type="text" name="city_name"><br>
            Planet #8: <input type="text" name="city_name"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>